@charset "UTF-8";
.name{
  border:solid 3px #385d8a;
  background:#d99694;
  height:50px;
  width: 50px;
  margin: 2px;
}
.classe{
  border:solid 3px #385d8a;
  background:#c4db97;
  height:50px;
  width: 50px;
  margin: 2px;
}
.genre{
  border:solid 3px #385d8a ;
  background:#558ed5;
  height:50px;
  width: 50px;
  margin: 2px;
}
.name1{
  border:solid 3px #385d8a;
  background:#d99694;
  height:50px;
  width: 50px;
}
.classe1{
  border:solid 3px #385d8a;
  background:#c4db97;
  height:50px;
  width: 50px;
  position:relative;
  left:53px;

}
.genre1{
  border:solid 3px #385d8a ;
  background:#558ed5;
  height:50px;
  width: 50px;
  position:relative;
  left:106px;
}

.name2{
  border:solid 3px #385d8a;
  background:#d99694;
  height:75px;
  width: 146px;
  margin: 2px;
}
.classe2{
  border:solid 3px #385d8a;
  background:#c4db97;
  height:50px;
  width: 50px;
margin: 2px;
}
.genre2{
  border:solid 3px #385d8a ;
  background:#558ed5;
  height:50px;
  width: 50px;
position: relative;
left:97.5px;
bottom: 57.5px;
}
.name3{
  border:solid 3px #385d8a;
  background:#d99694;
  height:50px;
  width: 50px;
  margin: 2px;
}
.classe3{
  border:solid 3px #385d8a;
  background:#c4db97;
  height:50px;
  width: 50px;
  margin: 2px;
}
.genre3{
  border:solid 3px #385d8a ;
  background:#558ed5;
  height:50px;
  width: 50px;
  margin: 4px;
  position: relative;
  left:57px;
  bottom:117.6px;
}
.web,.web1,.web2,.web3{
float:left;
margin: 120px;
}
p{
  color:violet;
}
h1{
  text-align: center;
  color:blue;
}
